/**
 * Backend styles
 *
 * @author  Marco Di Bella
 * @package congressomat
 */




/**
 * General settings
 */

body.congressomat {
    --cm-dropshadow: 0 5px 20px -8px rgba(0,0,0,.1);
    --cm-ui-border-radius: 10px;
    --cm-ui-border-color: #c3c4c7;
    --cm-ui-link-color: #0783be;
}


body.congressomat .wrap {
     margin-top: 4rem;

     h1.wp-heading-inline,
     .page-title-action {
         display: none !important;
     }
}


body.congressomat .postbox {
    box-shadow: var(--cm-dropshadow);
    border-radius: var(--cm-ui-border-radius);
}


body.congressomat .postbox .inside,
body.congressomat #major-publishing-actions {
    border-bottom-left-radius: var(--cm-ui-border-radius);
    border-bottom-right-radius: var(--cm-ui-border-radius);
}



// Color schemes

body.congressomat {
    & .striped > tbody > :nth-child(2n+1),
    & ul.striped > :nth-child(2n+1),
    & .alternate {
        background-color: hsl(228.9, 79.4%, 98%);
    }

    & .postbox#acf-group_5c335ed9c412e .inside,
    & .postbox#acf-group_5c3472f9224b7 .inside,
    & .postbox#acf-group_5c45b8906f884 .inside,
    & .postbox#acf-group_5f27d2d118cca .inside {
        background-color: hsl(228.9, 79.4%, 98%);
    }
}



body.congressomat {

    /** Modify border color to match it with the table border */
    input[type="text"],
    input[type="password"],
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea {
        border-color: var(--cm-ui-border-color);
        border-color: #d0d5dd;
        box-shadow: 0px 1px 2px rgba(16,24,40,.1);
    }

    .button {
        border-radius: 5px;
        color: var(--cm-ui-link-color);
        border-color: var(--cm-ui-link-color);

        &.button-primary {
            background-color: var(--cm-ui-link-color);
            color: #fff;
        }
    }


    a,
    a:focus,
    a:hover,
    a:active {
        color: var(--cm-ui-link-color);
    }

    /** Screen Settings */
    #screen-meta{
        z-index: 900;
        box-shadow: var(--cm-dropshadow);
        border-bottom-left-radius: var(--cm-ui-border-radius);
        border: none !important;
    }

    #screen-meta-links > * {
        z-index: 900;
        box-shadow: var(--cm-dropshadow);

        & > * button {
            font-weight: 350;
        }

        & .show-settings {
            border: transparent !important;
        }
    }

    /** Widefat Table */
    .widefat,
    table.widefat {
        box-shadow: var(--cm-dropshadow);
        border-radius: var(--cm-ui-border-radius);
        //border: none;

        td,
        th,
        th.sortable,
        th.sorted  {
            padding: 1rem;
        }


        th.sortable a,
        th.sorted a {
            padding: 0;
        }

        th.sorted a span:not(.sorting-indicator) {
            font-weight: bold;
        }

        td a img {
            line-height: 0;
            font-size: 0;
        }
    }

    /** Table Navigation */
    .tablenav {

        &.top {
            margin: 1rem 0 2rem;
        }

        &.bottom {
            margin: 2rem 0 1rem;
        }
    }

    /** Search Box */
    p.search-box {
        margin: 11px 0 1rem;
    }
}


// Some custom classes

.congressomat-page-header,
.congressomat-page-header-shadow {
    height: 4rem;
    width: calc(100% + 20px);
    margin-left: -20px;
    padding: 0 2rem;
}

.congressomat-page-header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1000;
    background-color: #fff;
}

.congressomat-page-header-shadow {
    position: sticky;
    z-index: 990;
    box-shadow: var(--cm-dropshadow);
}

.congressomat-page-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    color: #50575e;
    font-weight: 250;
    font-size: 1.25rem;
}

.congressomat-speaker-image,
.congressomat-location-image,
.congressomat-exhibitor-image {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    box-shadow: 0 4px 10px -4px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.05);
    background: #fff;
}


.congressomat-speaker-image {
    --dim: 45px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 50% !important;

    & > img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.congressomat-location-image {
    border-radius: 5px !important;

    & > img {
        width: 100%;
        height: auto;
        border-radius: inherit;
    }
}


.congressomat-exhibitor-image {
    --dim: 45px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 5px !important;
    padding: 3px;

    & > span {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
    }

    & > span > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.congressomat-session-timeframe {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}


.congressomat-speaker-grid {
    display: grid;
    gap: .75rem .125rem;
    grid-template-columns: 60px auto;
    align-items: center;
}


/**
 * wp-admin/edit.php?post_type=speaker
 */

.post-type-speaker .wp-list-table {

    .column-image {
        width: 60px;
    }
}




/**
 * wp-admin/edit.php?post_type=partner
 */

.post-type-partner .wp-list-table {

    .column-image {
        width: 75px;
    }
}


/**
 * Miscellaneous overviews - common settings
 */

.taxonomy-location .wp-list-table,
.taxonomy-event .wp-list-table,
.taxonomy-exhibition_package .wp-list-table,
.taxonomy-partnership .wp-list-table {

    .column-id {
        width: 5%;
    }

    .column-posts,
    .column-count {
        width: 15%;
        text-align: left;
    }

}



/**
 * /wp-admin/edit-tags.php?taxonomy=event&post_type=session
 */

.taxonomy-event .wp-list-table {

    .column-status {
        width: 5%;
        text-align: center;

        .status-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;

            &.status-icon-active {
                background-color: #7ad03a;
            }

            &.status-icon-inactive {
                background-color: #dc3232;
            }
        }
    }

}


/**
 * /wp-admin/edit-tags.php?taxonomy=event&post_type=session
 */

.taxonomy-location .wp-list-table {

    .column-image {
        width: 150px;
    }
}
